
$bgBlack: #0e0e0e;
$primaryBlue:#042337;
$accent: #99622b;
$pinkGem: #caa9ca;
$redGem: #f9827e;
$blueGem: #9dbef2;
$greenGem: #5bee97;
$selection: #3d3d3d;

.toUpper {
    text-transform: uppercase;
}

button {
    padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

body {
    background-color: $bgBlack;
}
