/* main styles start*/

/* flex styles*/

.gameContainer, .stealInfo, .gemGallery, .gem, .gemInfo, .value, .weight, .gemButton, .playerInfo, .playArea {
    display: flex;
}

.hide {
    display: none;
}

.gameContainer, .gemGallery, .gem, .value, .weight, .gemButton, .stealInfo{
    justify-content: center;
}
main {
    height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    background-color: $bgBlack;
}

.playerInfo , .stealInfo {
    font-size: 2.5rem;
    background-color:  $primaryBlue;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    color: white;
}

.playerInfo {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.playArea {
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.time {
        width: 65px;
    }


.gameContainer {
    width: 100%;
    height: 100%;
}

.gemGallery {
    flex-wrap: wrap;
    align-items: center;
}

.gemButton {
    width: 85px;
    height: 85px;
    padding: 0;
    flex-direction: column;
    font-size: 1.3rem;
    color: $pinkGem;
    margin: 5px;
    background-color: $selection;
    border-radius: 5px;
    overflow: hidden;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    border: 0;
    
    .value, .weight, .gem {
        align-items: center;
    }

    .value, .weight {
        text-align: center;
        padding: 5px;
        color: black;
        width: calc(50%);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1.8rem;
    }

    .gem{
        padding: 0;
        margin: auto;
        font-size: 3.3rem;
    }
    .value {
        background-color: yellow;
        

    }

    .weight {
        background-color: #3d3d3d;
        color: white;
    }
}

.chosenGem {
    background-color: $selected;
}

.stealInfo{
    align-items: center;
    width: 100%;
    li {
        width: 50%;
        text-align: center;
    }
    .submit {
    font-family: 'Poller One', cursive;
    color: white;
    background-color: $accent;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    }
    .submit:hover, .submit:active, .submit:hover {
        background-color: $pinkGem;
    }
}







/* main styles end*/