/* main styles start*/

/* flex styles*/

.gameContainer, .stealInfo, .gemGallery, .gem, .gemInfo, .value, .weight, .gemButton, .playerInfo, .playArea {
    display: flex;
}

.hide {
    display: none;
}

.gameContainer, .gemGallery, .gem, .value, .weight, .gemButton, .stealInfo{
    justify-content: center;
}
main {
    height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    background-color: $bgBlack;
}

.playerInfo , .stealInfo {
    font-size: 2.5rem;
    background-color:  $primaryBlue;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    color: white;
}

.playerInfo {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.playArea {
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.time {
        width: 65px;
    }

.hambMenu {
    transition: all 0.3s ease-in-out;
}

.hambMenu:hover, .hambMenu:focus, .hambMenu:active {
    color: $accent;
}


.gameContainer {
    width: 100%;
    height: 100%;
}

.gemGallery {
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

.gemButton {
    transition: all 0.3s ease-in-out;
    width: 92.5px;
    height: 92.5px;
    padding: 0;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 5px;
    background-color: $selection;
    border-radius: 8px;
    overflow: hidden;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    border: 0;
    
    .value, .weight, .gem {
        align-items: center;
    }

    .value, .weight {
        text-align: center;
        padding: 5px;
        color: black;
        width: 50%;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1.6rem;
    }


    .gemInfo {
        width: 92.5px;
    }
    


    .gem{
        
        padding: 0;
        margin: auto;
        font-size: 3.6rem;
        height: 61px;
        img {
            max-height: 100%;
        }
    }

    .value {
        background-color: yellow;
        

    }

    .weight {
        background-color: #3d3d3d;
        color: white;
    }
}



.stealInfo{
    align-items: center;
    justify-content: center;
    width: 100%;
    li {
        margin: 0 10px;
        text-align: center;
    }

    input[type="checkbox"] {
            /* This is much better than display none*/
            opacity: 0;
            position: fixed;
            width: 0;
        }

    .sound {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        transition: all .6s;
        color: black;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        font-size: 2rem;
        .volOff {
            margin-left: -13px;
        }
    }

    .sound:active, .sound:hover, .sound:focus  {
        background-color: black;
        color: white;
        scale: 1.1;
    }

    .submit, .boost {
    font-family: 'Poller One', cursive;
    color: white;
    background-color: $accent;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    }

    .disabled {
    background-color: lightgrey;
    color: grey;
    pointer-events: none;
    cursor: not-allowed;
    }


    .submit:hover, .submit:active, .submit:hover ,.boost:hover, .boost:active, .boost:hover{
        background-color: $pinkGem;
    }

    .stash {
        transition: all 0.5s ease-in-out;
    }
}


.colour1 {
    color: $pinkGem;
}

.colour1chosen {
    background-color: darken($pinkGem, 35%);
}

.colour2 {
    color: $blueGem;
}

.colour2chosen {
    background-color: darken($blueGem, 35%);
}

.colour3 {
    color: $greenGem;
}

.colour3chosen {
    background-color: darken($greenGem, 35%);
}

.colour4 {
    color: $redGem;
}

.colour4chosen {
    background-color: darken($redGem, 35%);
}






/* main styles end*/