/* main styles start*/

/* flex styles*/

.gameContainer, .gemGallery, .gem, .gemInfo, .value, .weight, .gemButton, .playerInfo, .playArea {
    display: flex;
}

.hide {
    display: none;
}

.gameContainer, .gemGallery, .gem, .value, .weight, .gemButton{
    justify-content: center;
}
main {
    height: 100vh;
}

.playerInfo {
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    font-size: 1.3rem;
}

.playArea {
    width: 80%;
    flex-direction: column;
    align-items: center;
}
.gameContainer {
    width: 100%;
    height: 100%;
}

.gemGallery {
    flex-wrap: wrap;
    align-items: center;
}

.gemButton {
    padding: 0;
    flex-direction: column;
    font-size: 1.3rem;
    color: blue;
    margin: 5px;
    background-color: lightgray;
    border-radius: 5px;
    overflow: hidden;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    border: 0;
    
    .value, .weight, .gem {
        align-items: center;
    }

    .value, .weight {
        text-align: center;
        padding: 5px;
        color: black;
        width: calc(50%);
    }

    .gem{
        padding: 5px 0;
        font-size: 3.3rem;
    }
    .value {
        background-color: yellow;
        

    }

    .weight {
        background-color: #3d3d3d;
        color: white;
        
        p {

        }
    }
}

.chosenGem {
    background-color: lightgreen;
}

.submit {
    width: 70%;
    padding: 15px;
}




/* main styles end*/