@media (max-width: 450px){
    .modalContent {
        width: 370px;
        margin-top: 25%;
        padding: 5px 20px;
        .closeModal {
            font-size: 1.8rem;
        }
        .modalOption, .modalTitle {
            font-size: 1.5rem;
        }
        .instructionsText {
            width: 80%;
        }
    }

    .playArea {
        .playerInfo, .stealInfo {
            font-size: 1.8rem;
        }
    }

    .gemGallery {
        width: 100%;
        .value, .weight {
        font-size: 1.6rem;
    }
    
    }
    
}