@media (max-width: 450px){
    .modalContent {
        width: 260px;
        .closeModal {
            font-size: 1.8rem;
        }
    .modalOption, .modalTitle {
        font-size: 1.5rem;
    }
    }

    .playArea {
        width: 90%;
        .playerInfo, .stealInfo {
            font-size: 1.6rem;
        }
    }
}